version: 2
jobs:
  build:
    docker:
      - image: debian:stretch

    steps:
      - checkout

      - run:
          name: Greeting
          command: echo Hello, world.
          name: PWD
          command: pwd
          name: ls
          command: ls -l


      - run:
          name: Print the Current Time
          command: date
